.centered-label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 10px;  /* Add margin between the label and the input */
    display: block;       /* Ensure the label and input are stacked */
}

.sidebar {
    width:350px;
    height:calc(100vh - 55px);
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input {
    flex: 1;
    height: 38px; /* Gleiche Höhe wie Bootstrap Inputs */
}

.input-group .btn {
    height: 38px;
    width: 30px; /* Optional, für eine einheitliche Größe */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.modal-backdrop {
    display: none;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
}