name: backend-build-test

on:
  push:
    branches:
      - main

jobs:
  setup-db:
    runs-on: ubuntu-latest
    services:
      mariadb:
        image: mariadb:latest
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: my-secret-password
          MYSQL_DATABASE: test-elinor2
          MYSQL_USER: myuser
          MYSQL_PASSWORD: myuserpassword

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build with Maven
        working-directory: ./backend
        run: |
          mvn clean install -DskipTests

      - name: Run tests with Maven
        working-directory: ./backend
        run: mvn test
